body {
  background-image:url("/images/cyber_background.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  color:#F1E3F7;
}

.sec-pad-top {
  padding-top:30px;
}

.sec-pad-bottom {
  padding-bottom:30px;
}

a.nav {
  color:#F1E3F7;
  display:inline-block;
  text-decoration:none;
  font-size:20px;
  margin-right:20px;
}

a.nav:hover, a.nav:active {
  color: #E528D6;
}

.table {
  margin-bottom:3rem !important;
  /*color:#E9BFF2;*/
  color:#F1E3F7;
}

.table-hover tbody tr:hover td.change-color {
  color:#E528D6 !important;
}

.hover-target {
  display:none;
}

.hover-trigger:hover .hover-target {
  display:initial;
}

.form-group {
  margin:10px 0px;
}

#formGroup {
  margin-bottom:10px;
}

select:hover, input[type=date] {
  cursor:pointer;
}

button {
  padding:10px 40px !important;
}

.btn-primary {
  background-color: #722284 !important;
  border-color: #722284 !important;
  color:#F1E3F7;
}

.btn-danger.deleteButton {
  background-color: #DE0A87 !important;
  border-color: #DE0A87 !important;
  color: #F1E3F7;
  padding: 2px 10px !important;
}

.btn-warning.transferButton {
  background-color: #CA01D0 !important;
  border-color: #CA01D0 !important;
  color: #F1E3F7;
  padding: 2px 10px !important;
}

@media (max-width:500px) {
  .delete {
    margin-top:1rem !important;
  }

  .sec-pad-top {
    padding-top:10px !important;
  }

  .sec-pad-bottom {
    padding-bottom:10px !important;
  }

  body {
    background-image:none !important;
    background-color:#000000 !important;
    color:#F1E3F7;
  }
}
