.sec-pad-top {
  padding-top:30px;
}

.sec-pad-bottom {
  padding-bottom:30px;
}

.form-group {
  margin:10px 0px;
}

#formGroup {
  margin-bottom:10px;
}

select:hover, input[type=date] {
  cursor:pointer;
}

button {
  padding:10px 40px !important;
}
